body, html {
    background-color: lightcyan;
    width: 100%;
}

#body{
    background-color: lightcyan;
    padding: 25px;
    padding-top: 125px;
}

#header {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: inherit;
    z-index: 1000;

    #title {
        padding-left: 10px;
        h1 {
            color: white;
        }
        div {
            color: lightblue;
            font-size: smaller;
            margin-top: -10px;
        }
    }
    #nav {
        padding-left: 50px;
        display: flex;
        flex: 1;
    }
}

#active-listings, #watchlist {
    .row {
        a {
            width: 18rem;
            text-decoration: none;
            color: inherit;

            #watchlist-badge {
                height: 40px;
                width: 40px;
                svg {
                    height: 80%;
                    width: 80%;
                }
            }

            div{
                img {
                    height: 115px;
                    width: 115px;
                    object-fit: contain;
                    margin-top: 15px;
                }
            }
            
            #success-badge {
                opacity: 50%;
            }
            
        }
    }
}

#login, #logout{
    margin-left: auto;
    margin-right: 50px;
}

#parent{
    margin-top: -25px;
    #listing, #comment {
        width: 600px;
        overflow: visible;
        #cardhead {
            #img-container {
                display:flex;
                flex: 1;
                height: 200px;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
            #main-info {
                display:flex;
                flex: 1;
            }
        }
        #sub-contents {
            width: 100%;
            display: flex;
            flex: 1;
        }
        form {
            input {
                opacity: 0.8;
            }
        }
        #comment-field{
            #comment-list {
                max-height: 100px;
                overflow-y: auto;
                overflow-x: hidden;
            }
        }
    }    
}
