#header {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    #title {
        h1 {
            color: white;
        }
        div {
            color: lightblue;
            font-size: smaller;
            margin-top: -10px;
        }
    }
    #nav {
        padding-left: 50px;
        display: flex;
        flex: 1;
    }
}

#login, #logout{
    margin-left: auto;
    margin-right: 50px;
}

#listing {
    display: flex; 
    flex: 1;
    #main-info {
        display: flex;
        #img-container {
            max-width: 150px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}