html, body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #202124;
}

#header {
  background-color: #202124;
  display: flex;
  align-items: center;
  padding: 12px;
  justify-content: flex-end;
}
#header > a {
  text-decoration: none;
  color: rgb(232, 234, 237);
  padding: 12px 12px;
}

.header-element {
  background-color: #171718;
  height: 30px;
  width: 30px;
  margin: 2px;
}

#upper-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 198px;
  max-height: 92px;
}
#upper-body #img-container {
  margin-top: auto;
}

.button, #search-container #form #button-container #google-search-button, #search-container #form #button-container #lucky-button {
  background-color: #33363a;
  color: rgb(232, 234, 237);
  padding: 0px 16px;
  border: none;
  margin: 4px 4px 11px 11px;
  height: 36px;
  border-radius: 4px;
}
.button:hover, #search-container #form #button-container #google-search-button:hover, #search-container #form #button-container #lucky-button:hover {
  border-color: #60656b;
  border-width: 1px;
  border-style: solid;
}

#search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 6px;
}
#search-container #form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#search-container #form #search-bar {
  background-color: rgb(77, 81, 86);
  max-width: 584px;
  min-height: 44px;
  position: relative;
  border-radius: 24px;
  border: none;
  padding: 0 16px;
  font-size: 16px;
  color: white;
  width: 582.184px;
}
#search-container #form #search-bar:hover, #search-container #form #search-bar:focus {
  background-color: #60656b;
  outline: none;
}
#search-container #form #button-container {
  padding-top: 18px;
}
#lower-body {
  color: rgb(191, 191, 191);
  font-size: smaller;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
  box-sizing: border-box;
}
#lower-body > a {
  margin: 0 3px;
  color: rgb(153, 195, 255);
  text-decoration: none;
}

#footer {
  color: rgb(232, 232, 232);
}
#footer #upper-footer {
  background-color: rgb(23, 23, 23);
  padding: 15px 30px;
  font-size: medium;
}
#footer #lower-footer {
  background-color: rgb(23, 23, 23);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 8px 20px;
  margin-top: 2px;
  font-size: small;
}
#footer #lower-footer #footer-left, #footer #lower-footer #footer-right {
  display: flex;
  flex-wrap: wrap;
  font-size: small;
}
#footer #lower-footer #footer-left > a, #footer #lower-footer #footer-left > span, #footer #lower-footer #footer-right > a, #footer #lower-footer #footer-right > span {
  color: rgb(232, 232, 232);
  text-decoration: none;
  padding: 10px;
}
@media screen and (max-width: 1050px) {
  #footer #lower-footer {
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1051px) {
  #footer #lower-footer #footer-left {
    justify-content: flex-start;
  }
  #footer #lower-footer #footer-right {
    justify-content: flex-end;
  }
}

#wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
