{% extends "auctions/layout.html" %}

{% block body %}
    <div class="d-flex flex-column">
        <main>
            <div id="create">
                <form method="GET" action="{% url 'categories' %}" id="categories" class="card shadow">
                    <h3 class="text-secondary-emphasis">Enter a Category: </h3>
                    <div class="form-group">
                        <input class="form-control" type="text" name="q" placeholder="Search for a category">
                    </div>
                    <div id="button-group">
                        <button type="submit" class="btn btn-primary">Search</button>
                        <a href="{% url 'categories' %}" class="btn btn-secondary">Reset</a>
                    </div>
                </form>
            </div>
        </main>

        <div id="active-listings" class="w-100">
            <div class="row d-flex justify-content-center">
                {% for listing in active_listings %}
                <div class="col btn btn-light btn align-items-center flex-grow-0 rounded-4 m-3">
                    <a href="{% url 'listing' listing.id %}" class="card shadow-sm border-5 border-info border-opacity-50 rounded-4 bg-white bg-gradient">
                        {% if user in listing.watchers.all %}
                            <span class="position-absolute top-0 start-100 translate-middle p-1 bg-primary border border-white border-4 rounded-circle">
                                ⭐
                            </span>
                        {% endif %}
                        {% if listing.is_active %}
                            <span class="badge text-bg-success m-2 rounded-5">Active</span>
                        {% else %}
                            <span class="badge text-bg-danger m-2 rounded-5">Closed</span>
                        {% endif %}
                        <div class="w-100">
                            <img src="{{ listing.image_url }}" alt="{{ listing.name }}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><strong>{{ listing.name }}</strong></h5>
                            <p class="card-text">
                                {{ listing.description }} <br>
                                <strong>${{ listing.highest_bid.amount }}</strong>
                            </p>
                        </div>
                        <div class="card-footer text-muted p-3">
                            <label>{{ listing.user.username }}</label> | <label>{{ listing.date }}</label>
                        </div>
                    </a>
                </div>
                {% empty %}
                <div class="alert alert-info" role="alert">
                    No Active Listings Found
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
