{% extends "auctions/layout.html" %}

{% block body %}
    <main>
        <div id="create">
            <form method="GET" action="{% url 'categories' %}" id="categories" class="card shadow">
                {% csrf_token %}
                <h3 class="text-secondary-emphasis">Enter a Category: </h3>
                    <div class="form-group">
                        <label>{{ field.label }}</label>
                        <input class="form-control" type="{{ field.type }}" name="{{ field.name }}" placeholder="{{ field.placeholder }}">
                    </div>
                <div id="button-group">
                    <button name="action" type="submit" value="save" class="btn btn-primary">Search</button>
                    <button name="action" type="submit" value="cancel" class="btn btn-secondary">Cancel</button>
                </div>
            </form>
        </div>
    </main>
{% endblock %}