{% extends "auctions/layout.html" %}

{% block body %}
    <h3>Create Listing: </h3>
    <form method="POST" action="{% url 'index' %}">
        {% csrf_token %}

        {% with fields=data %}
            {% for field in fields %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    <input class="form-control" type="{{ field.type }}" name="{{ field.name }}" placeholder="{{ field.placeholder }}">
                </div>
            {% endfor %}
        {% endwith %}

        <button type="submit" value="save" class="btn btn-primary">Save</button>
        <button type="submit" value="cancel" class="btn btn-secondary">Cancel</button>
    </form>

{% endblock %}