{% extends "auctions/layout.html" %}

<!-- it would be good for practice if this implements a bootstrap feature -->

{% block body %}

    <form method="POST" action="{% url 'index' %}">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="description" placeholder="Description">
        <input type="number" name="start_bid" placeholder="Starting Bid">
        <input type="url" name="image_url" placeholder="Image URL">
        <input type="text" name="category" placeholder="Category">
        <input type="Submit">
    </form>

{% endblock %}