{% extends "auctions/layout.html" %}

{% block body %}
    <div id="active-listings">
        <div class="row">
            {% for listing in active_listings %}
            <div class="col-sm-0.5 btn btn-light">
                <a href="{% url 'listing' listing.id %}" class="card shadow-sm">
                    <span class="badge badge-success">Active</span>
                    <div class="w-100 position-relative">
                        <img src="{{ listing.image_url }}" alt="{{ listing.name }}">
                        {% if listing in user.watchlist.all %}
                        <span id="watchlist-badge" class="badge badge-primary badge-pill position-absolute m-2 bg-secondary">
                            <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve" width="20" height="20">
                                <path fill="#ffffff" d="M63.714,30.516C63.347,29.594,54.448,8,31.999,8S0.651,29.594,0.284,30.516
                                    c-0.379,0.953-0.379,2.016,0,2.969C0.651,34.406,9.55,56,31.999,56s31.348-21.594,31.715-22.516
                                    C64.093,32.531,64.093,31.469,63.714,30.516z M31.999,40c-4.418,0-8-3.582-8-8s3.582-8,8-8s8,3.582,8,8S36.417,40,31.999,40z"/>
                            </svg>
                        </span>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> <strong> {{listing.name}} </strong> </h5>
                        <p class="card-text">
                            {{ listing.description }}
                            <br>
                            <strong>${{ listing.price }}</strong>
                        </p>
                    </div>
                    <div class="card-footer text-muted ">
                        <div id="footer-components">
                            <label>{{listing.user.username}}</label> |
                            <label>{{listing.date}}</label>
                        </div>
                    </div>
                </a>
            </div>
            {% empty %}
                <div class="alert alert-info" role="alert">
                    No Active Listings
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}