{% extends "auctions/layout.html" %}

{% block body %}
    <div id="active-listings">
        <div class="row">
            {% for listing in active_listings %}
            <div class="col-sm-0.5 btn btn-light">
                <a href="{% url 'listing' listing.id %}" class="card shadow-sm">
                    <span class="badge badge-success">Active</span>
                    <div class="w-100 position-relative">
                        <img src="{{ listing.image_url }}" alt="{{ listing.name }}">
                        {% if listing in user.watchlist.all %}
                            <span id="watchlist" class="badge badge-primary badge-pill position-absolute m-2 bg-secondary">
                                watchlist
                            </span>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> <strong> {{listing.name}} </strong> </h5>
                        <p class="card-text">
                            {{ listing.description }}
                            <br>
                            <strong>${{ listing.price }}</strong>
                        </p>
                    </div>
                    <div class="card-footer text-muted ">
                        <div id="footer-components">
                            <label>{{listing.user.username}}</label> |
                            <label>{{listing.date}}</label>
                        </div>
                    </div>
                </a>
            </div>
            {% empty %}
                <div class="alert alert-info" role="alert">
                    No Active Listings
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}