{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="header" class="bg-primary bg-gradient shadow p-3">
            <div id="title">
                <h1>Auctions</h1>
                <div>
                    {% if user.is_authenticated %}
                        Signed in as <strong>{{ user.username }}</strong>.
                    {% else %}
                        Not signed in.
                    {% endif %}
                </div>
            </div>
            <div id="nav">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="
                        {% if request.resolver_match.url_name == 'index' %}
                            btn btn-outline-light
                        {% else %}
                            btn btn-outline-primary text-white font-weight-bold border-0
                        {% endif %} bg-opacity-0"
                        href="{% url 'index' %}">
                            Active Listings
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="
                            {% if request.resolver_match.url_name == 'create' %}
                                btn btn-outline-light
                            {% else %}
                                btn btn-outline-primary text-white font-weight-bold border-0
                            {% endif %}"
                            href="{% url 'create' %}">
                                Create Listing
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="
                            {% if request.resolver_match.url_name == 'watchlist' %}
                                btn btn-outline-light
                            {% else %}
                                btn btn-outline-primary text-white font-weight-bold border-0
                            {% endif %}"
                            href="{% url 'watchlist'%}">
                                Watchlist
                            </a>
                        </li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                    <a id="logout" class="btn btn-danger" href="{% url 'logout' %}">Log Out</a>
                {% else %}
                    <div id="login">
                        <ul class="nav gap-1">
                            <li class="nav-item">
                                <a class="btn btn-primary btn-outline-info text-white
                                {% if request.resolver_match.url_name == 'login' %}active{% endif %}" href="{% url 'login' %}">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-primary btn-outline-info text-white
                                {% if request.resolver_match.url_name == 'register' %}active{% endif %}" href="{% url 'register' %}">Register</a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
        <div id="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
