{% extends "auctions/layout.html" %}

{% block body %}
    <main>
        <div id="parent" class="row-cols-2">
            <div id="listing" class="col card shadow">
                {% if listing.is_active %}
                    <div class="alert alert-success w-100 text-center fw-bold fs-5" role="alert">
                        Active
                    </div>
                {% else %}
                    <div class="alert alert-danger w-100 text-center fw-bold fs-5" role="alert">
                        Closed
                    </div>
                {% endif %}
                <div id="cardhead" class="w-100 d-flex justify-content-center align-items-center pt-4 pb-5">
                    <div id="img-container" class="justify-content-center align-items-center">
                        <img src="{{ listing.image_url }}" alt="{{ listing.name }}"
                        class="w-75 h-75">
                    </div>
                    <div id="main-info" class="card-body d-flex justify-content-center align-items-center">
                        <div>
                            <h3 class="card-title"> <strong>
                                {{listing.name}} <br>
                            </strong> </h5>
                            <h5 class="card-text">
                                {{ listing.description }}
                                <br> <br>
                                <strong>${{ listing.price }}</strong>
                            </h5>
                        </div>
                    </div>
                </div>
                <ul id="sub-contents" class="list-group">
                    {% for key, value in display.items %}
                        <ul class="row-cols-3 list-group list-group-horizontal-sm">
                            <li class="list-group-item">
                                <strong>{{ key }}</strong>: 
                            </li>
                            <li class="list-group-item flex-fill">
                                {{ value }}
                            </li>
                        </ul>
                    {% endfor %}
                </ul>
                <form class="card-body w-100" method="POST" action="{% url 'listing' listing.id %}">
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                        <div class="w-100 text-center mt-3">
                            {% if user.id == listing.user.id %}
                                {% if listing.is_active %}
                                    <input name="action" type="submit" class="card-link btn btn-danger" value="Close Bid">
                                {% else %}
                                    <input name="action" type="submit" class="card-link btn btn-primary" value="Open Bid">
                                {% endif %}
                            {% else %}
                                {% if listing.is_active %}
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <input name="bid" type="number" class="form-control" placeholder="Bid">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button name="action" type="submit" class="card-link btn btn-primary" value="Place Bid">Bid</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        Bid
                                    </button>
                                {% endif %}
                            {% endif %}
                            {% if listing not in user.watchlist.all %}
                                <input name="action" type="submit" class="card-link btn btn-primary" value="Add to Watchlist">
                            {% else %}
                                <input name="action" type="submit" class="card-link btn btn-danger" value="Remove from Watchlist">
                            {% endif %}
                        </div>
                    {% endif %}
                </form>
            </div>

            <div id="comment" class="col card shadow">
                <div id="comment-field" class="d-flex flex-column w-100">
                    <div id="comment-list" class="flex-grow-1 w-100 flex-column overflow-auto">
                        {% for c in listing.listing_comments.all %}
                            {% if c.commenter != user %}
                                <label><strong>{{ c.commenter.username }}</label></strong>
                            {% else %}
                                <label class="w-100 text-end"><strong>{{ c.commenter.username }}</label></strong>
                            {% endif %}
                            <div class="d-flex {% if c.commenter == user %} justify-content-end {% else %} justify-content-start {% endif %}">
                                <div class="{% if c.commenter == user %}
                                    alert alert-primary text-end d-inline-block w-auto
                                {% else %}
                                    alert alert-info w-100 d-inline-block w-auto
                                {% endif %}">
                                    <div>
                                        {{ c.content }}
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <div class="alert alert-info" role="alert">
                                No comments
                            </div>
                        {% endfor %}
                    </div>
                    <form id="comment-form" class="w-100 m-1" method="POST" action="{% url 'listing' listing.id %}">
                        {% csrf_token %}
                        <div id="comment-input" class="d-flex align-items-center w-100 p-2">
                            <input name="comment" type="text" class="form-control me-2" placeholder="Comment here">
                            <input name="action" type="submit" class="btn btn-primary" value="Comment">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}