{% extends "auctions/layout.html" %}

{% block body %}
    <div id="listing" class="card ">
        <div id="main-info">
            <div id="img-container">
                <img src="{{ listing.image_url }}" alt="{{ listing.name }}">
            </div>
            <div class="card-body">
                <h3 class="card-title"> <strong> {{listing.name}} </strong> </h5>
                <h5 class="card-text">
                    {{ listing.description }}
                    <br> <br>
                    <strong>${{ listing.price }}</strong>
                </h5>
            </div>
        </div>
        {% for d in display %}
            <li class="list-group-item">{{d[0]}}: {{d[1]}}</li>
        {% endfor %}
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
{% endblock %}