{% extends "auctions/layout.html" %}

{% block body %}
    <div id="parent" class="row d-flex justify-content-center align-items-center w-100">
        <div id="listing" class="colM card p-4 shadow d-flex justify-content-center align-items-center m-3">
            <div class="alert alert-success w-100 text-center fw-bold fs-5" role="alert">
                Active
            </div>
            <div id="cardhead" class="w-100 d-flex justify-content-center align-items-center pt-4 pb-5">
                <div id="img-container" class="justify-content-center align-items-center">
                    <img src="{{ listing.image_url }}" alt="{{ listing.name }}"
                    class="w-75 h-75">
                </div>
                <div id="main-info" class="card-body d-flex justify-content-center align-items-center">
                    <div>
                        <h3 class="card-title"> <strong>
                            {{listing.name}} <br>
                        </strong> </h5>
                        <h5 class="card-text">
                            {{ listing.description }}
                            <br> <br>
                            <strong>${{ listing.price }}</strong>
                        </h5>
                    </div>
                </div>
            </div>
            <ul id="sub-contents" class="list-group">
                {% for key, value in display.items %}
                    <ul class="row-cols-3 list-group list-group-horizontal-sm">
                        <li class="list-group-item">
                            <strong>{{ key }}</strong>: 
                        </li>
                        <li class="list-group-item flex-fill">
                            {{ value }}
                        </li>
                    </ul>
                {% endfor %}
            </ul>
            <form class="card-body w-100" method="POST" action="{% url 'listing' listing.id %}">
                {% csrf_token %}
                {% if user.is_authenticated %}
                    <div class="collapse w-100 p-3" id="collapseExample">
                        <div class="card card-body">
                            Insert form here
                        </div>
                    </div>
                    <div class="w-100 text-center mt-3">
                        <button class="card-link btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" 
                        aria-expanded="false" aria-controls="collapseExample">
                            Bid
                        </button>
                        {% if listing not in user.watchlist.all %}
                            <input name="action" type="submit" class="card-link btn btn-primary" value="Add to Watchlist">
                        {% else %}
                            <input name="action" type="submit" class="card-link btn btn-danger" value="Remove from Watchlist">
                        {% endif %}
                        <input name="action" type="submit" class="card-link btn btn-primary" value="Comment">
                        {% if user.id == listing.user.id %}
                            <input name="action" type="submit" class="card-link btn btn-danger" value="Close Bid">
                        {% endif %}
                    </div>
                {% endif %}
            </form>
        </div>

        <div id="comment" class="card p-4 shadow d-flex  justify-content-center align-items-center mb-3">
            <div id="comment-field" class="row-cols-2 d-flex flex-grow-1 w-100 flex-column">
                <div id="comment-list" class="row-cols-2 bg-secondary d-flex flex-grow-1 w-100 m-1 flex-column">
                    {% for c in listing.listing_comments.all %}
                        <div class="alert alert-info w-100" role="alert">
                            {{ c.content }}
                        </div>
                    {% empty %}
                        <div class="alert alert-info" role="alert">
                            No comments
                        </div>
                    {% endfor %}
                </div>
                <form id="comment-form" class="w-100 m-1" method="POST">
                    {% csrf_token %}
                    <div id="comment-input" class="d-flex align-items-center w-100 p-2">
                        <input name="comment" type="text" class="form-control me-2" placeholder="Comment here">
                        <input name="action" type="submit" class="btn btn-primary" value="Comment">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}