<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search</title>
        <link rel="stylesheet" href="../static/style2.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="header">
            <img src="../resources/google.png" alt="Google">
            <a href="index.html">Google Search</a>
        </div>

        <div id="upper-body">
            <h2>Advanced Search</h2>
            <hr>
        </div>
        <div id="middle-body">
            <form id="form" action="https://www.google.com/search?hl=en-PH&as_q=param1&as_epq=param2&as_oq=param3&as_eq=param4&as_nlo=5&as_nhi=6&lr=&cr=&as_qdr=all&as_sitesearch=&as_occt=any&as_filetype=&tbs=">
                <input type="text" name="search" placeholder="all these words with">
                <input type="text" name="search" placeholder="this exact word or phrase">
                <input type="text" name="search" placeholder="any of these words">
                <input type="text" name="search" placeholder="none of these words">
                <input type="submit" value="Search">
            </form>
        </div>
        <div id="lower-body">

        </div>
    </body>
</html>

<!--




>