$bg-color: #202124;

html, body {
    font-family: Arial, sans-serif;
    color: #f28b82;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#header {
    background-color: $bg-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    img {
        max-height: 25px;
    }
    a {
        text-decoration: none;
        color: black;
    }
}

#upper-body {
    background-color: $bg-color;
    display: flex;
    flex-direction: column;
    padding: 0 48px;
}

#hr {
    height: 3px;
    background-color: black;
}

#middle-body {
    form {
        display: flex;
        flex-direction: row;
        background-color: $bg-color;
        color: #969ba1;
        #left {
            display: flex;
            flex-direction: column;
        }
        #right {
            display: flex;
            flex-direction: column;
        }
    }
}

#lower-body {
    background-color: $bg-color;
    display: flex;
}



