$header-element-size: 30px;
$font-color: rgb(232, 234, 237);
$background-color: #202124;

html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: $background-color;

    #wrapper {
        flex: 1;

        #header {
            display: flex;
            align-items: center;
            padding: 14px;
            justify-content: flex-end;

            a {
                text-decoration: none;
                color: $font-color;
                padding: 0 12px;
            }

            .header-element {
                height: $header-element-size;
                width: $header-element-size;
                margin: 2px;
            }
        }

        #upper-body {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            margin-top: 198px;
            max-height: 92px;
            
            #image {
                display: flex;
                flex-direction: column;
                #img-container {
                    margin-top: auto;
                }
                #image-label {
                    color: rgb(150, 150, 255);
                    text-align: right;
                    margin-top: -18px;
                }
            }
        }

        #search-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 6px;

            #form {
                display: flex;
                align-items: center;
                flex-direction: column;

                #search-bar {
                    background-color: rgb(77, 81, 86);
                    max-width: 584px;
                    min-height: 44px;
                    position: relative;
                    border-radius: 24px;
                    border: none;
                    padding: 0 16px;
                    font-size: 16px;
                    color: white;
                    width: 582.184px;

                    &:hover, &:focus {
                        background-color: #60656b;
                        outline: none;
                    }
                }

                #button-container {
                    padding-top: 18px;

                    #google-search-button,
                    #lucky-button {
                        @extend .button;
                    }
                }
            }
        }

        #lower-body {
            display: flex;
            color: rgb(191, 191, 191);
            font-size: smaller;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            flex-shrink: 0;
            box-sizing: border-box;

            a {
                margin: 0 3px;
                color: rgb(153, 195, 255);
                text-decoration: none;
            }
        }
    }

    #footer {
        color: rgb(232, 232, 232);

        #upper-footer {
            background-color: rgb(23, 23, 23);
            color: rgb(232, 232, 232);
            padding: 15px 30px;
            font-size: medium;
        }

        #lower-footer {
            background-color: rgb(23, 23, 23);
            color: rgb(232, 232, 232);
            display: flex;
            flex-wrap: wrap;
            font-size: small;
            justify-content: space-between;
            padding: 8px 20px;
            margin-top: 2px;

            #footer-left,
            #footer-right {
                display: flex;
                padding: 0;

                a,
                span {
                    color: rgb(232, 232, 232);
                    text-decoration: none;
                    padding: 10px;
                }
            }

            @media screen and (max-width: 1050px) {
                justify-content: space-evenly;
            }

            @media screen and (min-width: 1051px) {
                #footer-left {
                    justify-content: flex-start;
                }

                #footer-right {
                    justify-content: flex-end;
                }
            }
        }
    }
}

.button {
    background-color: #33363a;
    color: $font-color;
    padding: 0px 16px;
    border: none;
    margin: 4px 4px 11px 11px;
    height: 36px;
    border-radius: 4px;

    &:hover {
        border-color: #60656b;
        border-width: 1px;
        border-style: solid;
    }
}
