<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Search</title>
        <link rel="stylesheet" href="../static/style3.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <a href="index.html">Google Search</a>
            </div>
            <div id="upper-body">
                <div id="image">
                    <div id="img-container">
                        <img src="../resources/google.png" alt="Google">
                    </div>
                    <div id="image-label">
                        Images
                    </div>
                </div>
            </div>
            <div id="search-container">
                <form id="form" action="https://www.google.com/search">
                    <input id="search-bar" type="text" name="q">
                    <div id="button-container">
                        <center>
                            <input type="hidden" name="udm" value="2">
                            <input id="google-search-button" type="submit" value="Google Search">
                        </center>
                    </div>
                </form>
            </div>
            <div id="lower-body">
                Google offered in:
                <a>Filipino</a>
                <a>Cebuano</a>
            </div>
        </div>
        <div id="footer">
            <div id="upper-footer">
                Philippines
            </div>
            <div id="lower-footer">
                <div id="footer-left">
                    <a>About</a>
                    <a>Advertising</a>
                    <a>Business</a>
                    <a> How Search works </a>
                </div>
                <div id="footer-right">
                    <a>Privacy</a>
                    <a>Terms</a>
                    <span id="span">Settings</span>
                </div>
            </div>
        </div>
    </body>
</html>